/* General */
body {
  background-color: #0d1b34; /* Dark navy blue */
  color: #e9edf3;
}

/* Country card style */
li {
  background-color: #1c2e4a; /* Slightly lighter navy */
  border-radius: 16px;
  width: 94%;
  margin-left: 50px;
  padding: 25px;
  margin-bottom: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  list-style-type: none;
  color: #e9edf3;
}

/* Headings */
li h2 {
  color: #f0f8ff;
  margin-top: 10px;
}

/* Strong labels */
li p strong {
  color: #a4c8f0;
}

/* Flag */
img {
  border: 2px solid #fff;
  border-radius: 6px;
  margin-bottom: 15px;
}

/* Borders Styling */
.border-span {
  color: #ff7675;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: underline;
  font-weight: 500;
}

.border-span.selected {
  font-weight: bold;
  border: 2px solid #ff7675;
  padding: 4px 8px;
  border-radius: 12px;
  background-color: #c44569;
  color: #ffffff;
}

/* Header */
.header-fixed {
  background-color: black;
  height: 80px;
  color: #ffffff;
  border-bottom: 2px solid black;
}

/* Style for the search icon */
.custom-btn i {
  color: #ffffff; /* Makes the icon white */
  font-size: 1rem;
}

.custom-btn:hover i {
  color: #e0e0e0;
}


.footer-fixed {
  background-color: black;
  height: 40px;
  position: fixed !important;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.03);
  padding: 8px 0;
  color: white;
}

.footer-fixed a:hover {
  text-decoration: none;
  color: #0077cc;
  font-size: 10px;
}


/* Links */
.footer-fixed a, a {
  color: #aad8ff;
  text-decoration: none;
}

.footer-fixed a:hover, a:hover {
  color: #ffffff;
  
}

/* Inputs and buttons */
input.form-control {
  background-color: white;
  color: #ffffff;
  border: 1px solid #48688f;
}

.custom-btn {
  background-color: #336699;
  color: white;
  
}


.custom-btn:hover {
  background-color: #4080bf;
}

